/* AdminDashboard.css or your relevant CSS file */

/* For the sidebar link colors */
.nav-link {
  color: white; /* Default link color */
}

.nav-link:hover {
  background-color: #4b5563; /* Lighter shade for hover */
}

.nav-link-active {
  background-color: #4b5563; /* Lighter shade for active links */
}

/* Additional styles for the subLinks */
.sub-link {
  color: white; /* Default color for sub-links */
}

.sub-link:hover {
  background-color: #4b5563; /* Lighter shade for sub-link hover */
}

.sub-link-active {
  background-color: #4b5563; /* Lighter shade for sub-link active */
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px;
  padding: 8px 15px; /* Adjust padding */
  font-size: 18px;
  letter-spacing: 1px;
  color: #7287a3;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 0.2px solid #7287a3; /* No border when minimized */
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #4c5b6f;
}

.logout:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #4c5b6f;
}

.logout:active {
  transform: scale(0.9);
}

.w-20 .logout {
  padding: 8px; /* Smaller padding when minimized */
}
