/* UserTable.css */

.table-wrapper {
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

.table thead tr {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #007bff;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table .actions {
  display: flex;
  gap: 10px;
}

.table .delete-btn,
.table .edit-btn {
  font-size: 1.2rem;
  cursor: pointer;
}

.table .delete-btn {
  color: #dc3545;
}

.table .delete-btn:hover {
  color: #c82333;
}

.table .edit-btn {
  color: #007bff;
}

.table .edit-btn:hover {
  color: #0056b3;
}

.user-table-add-btn {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 230px;
}

.user-table-add-btn:hover {
  background-color: #0056b3;
}